<div class="details">
  <div class="game-banner">
    <img
      class="game-banner-img"
      src="https://cdn2.unrealengine.com/Diesel%2Fproductv2%2Fgrand-theft-auto-v%2Fhome%2FGTAV_EGS_Artwork_1920x1080_Hero-Carousel_V06-1920x1080-1503e4b1320d5652dd4f57466c8bcb79424b3fc0.jpg"
      alt="background image">
  </div>
  <div class="game-content">
    <div class="details-wrapper">
      <div class="game-header">
        <h1 class="game-header-title">Game Name</h1>
        <h2 class="game-header-release-date">Released Date</h2>
        <p class="game-header-genres">
          <span>RPG</span>
        </p>
        <div class="game-gauge">
          <mwl-gauge
            class="two"
            [max]
            [dialStartAngle]
            [dialEndAngle]
            [value]="gameRating"
            [animated]="true"
            [color]="getColor"
            [animationDuration]="2">
          </mwl-gauge>
          <a class="game-gauge-label"
            target="_blank"
            href="">Metacritic</a>
        </div>
      </div>
      <!-- here will go tabs -->
    </div>
  </div>
</div>
