<div class="details">
  <div class="game-banner">
    <img
      class="game-banner-img"
      src="{{game.gameInfoReq.background_image}}"
      alt="background image">
  </div>
  <div class="game-content">
    <div class="details-wrapper">
      <div class="game-header">
        <h1 class="game-header-title">{{game.gameInfoReq?.name}}</h1>
        <h2 class="game-header-release-date">Release: {{game.gameInfoReq?.released | date}}</h2>
        <p class="game-header-genres">
          <span *ngFor="let genre of game.gameInfoReq.genres; let i = last">
           {{genre.name}} <span *ngIf="!i">,</span>
          </span>
        </p>
        <div class="game-gauge">
          <mwl-gauge
            class="two"
            [max]
            [dialStartAngle]
            [dialEndAngle]
            [value]="gameRating"
            [animated]="true"
            [color]="getColor"
            [animationDuration]="2">
          </mwl-gauge>
          <a class="game-gauge-label"
            target="_blank"
            href="{{game.gameInfoReq.metacritic_url}}">Metacritic</a>
        </div>
      </div>
      <!-- here will go tabs -->
      <app-game-tabs [game]="game"></app-game-tabs>
    </div>
  </div>
</div>
