<div class="game-tabs">
  <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
    <mat-tab label="About">
      <p class="game-tabs-par">
        Platforms:
        <span>
          PC
        </span>
      </p>
      <p class="game-tabs-par">
        Publishers:
        <span>
          Konami
        </span>
      </p>
      <p class="game-tabs-par">
        Website:
        <a class="game-tabs-link" href="#" target="_blank">Link</a>
      </p>
      <div>
        Some Description
      </div>
      <p class="game-tabs-votes">
        <span>
          <mat-icon class="game-votes-up">thumb_up</mat-icon>
          <span class="game-votes-count">55</span>
        </span>
        <span>
          <mat-icon class="game-votes-down">thumb_down</mat-icon>
          <span class="game-votes-count">14</span>
        </span>
      </p>
    </mat-tab>
    <mat-tab label="Screenshots">
      <img
        class="game-screenshots"
        src="https://cdn2.unrealengine.com/Diesel%2Fproductv2%2Fgrand-theft-auto-v%2Fhome%2FGTAV_EGS_Artwork_1920x1080_Hero-Carousel_V06-1920x1080-1503e4b1320d5652dd4f57466c8bcb79424b3fc0.jpg"
        alt="screenshots"/>
    </mat-tab>
    <mat-tab label="Trailers">
      <video class="game-trailer" controls>
        <source src="https://www.youtube.com/watch?v=Y9r_xH4CMjY&t=141s" type="video/mp4">
        Your Browser does not support the video tag
      </video>
    </mat-tab>
  </mat-tab-group>
</div>
